.messageContainer {
  margin: 0.5em;
  display: flex;
  /* border: 2px solid saddlebrown; */
}

.messageBubble {
  border-radius: 0.75em;
  padding: 0.5em 0.75em;
  word-wrap: anywhere;
  max-width: 47%;
  /* border: 2px solid fuchsia; */
}

.messageSender {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #9897a9;
  margin: 0 0.1em 0 0.75em;
}

.messageText {
  margin: 0;
  /* border: 2px solid yellowgreen; */
}

.messageTime {
  text-align: right;
  font-size: 0.75rem;
  margin: 0;
  margin-top: 0.5em;
}

.justify-end {
  justify-content: flex-end;
}

.flex-dir-col {
  flex-direction: column;
}

.align-items-start {
  align-items: flex-start;
}

.bg-blue {
  background-color: #2979ff;
  color: white;
}

.bg-lightgrey {
  background-color: #f3f3f3;
  color: black;
}

.color-pale {
  color: lightseagreen;
}

.color-lightgrey {
  color: rgb(175, 171, 171);
}

.color-lightblue {
  color: lightblue;
}
